%table.table.lessons
  %head
    %tr
      %th 開始
      %th 言語
      %th Zoom URL
      %th アクション
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= l(lesson.started_at)
        %td= lesson.language.name
        %td= lesson.zoom_url
        %td
          = link_to '表示', teachers_lesson_path(lesson), class: 'btn btn-primary'
          = link_to '編集', edit_teachers_lesson_path(lesson), class: 'btn btn-primary'
          = link_to '削除', teachers_lesson_path(lesson), class: 'btn btn-outline-danger', method: :delete, data: { confirm: '削除しますか？' }
= link_to '登録', new_teachers_lesson_path, class: 'btn btn-primary'
