= simple_form_for @teacher, url: teacher_profile_path do |f|
  - if @teacher.image.attached?
    = image_tag @teacher.image
  = f.input :image, as: :file
  = f.input :name
  = f.input :profile
  = f.association :languages
  = f.button :submit, class: 'btn btn-primary'
