%table.table.teachers
  %thead
    %tr
      %th 名前
      %th メールアドレス
      %th 言語
      %th アクション
  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.name
        %td= teacher.email
        %td= teacher.display_languages
        %td
          = link_to '編集', edit_admin_teacher_path(teacher), class: 'btn btn-primary'
          = link_to '削除', admin_teacher_path(teacher), class: 'btn btn-outline-danger', method: :delete, data: { confirm: "「#{teacher.name}」を削除しますか？" }
= link_to '登録', new_admin_teacher_path, class: 'btn btn-primary'
