.card.mt-2
  .card-header
    会員登録
  .card-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: true, autofocus: true, input_html: { autocomplete: 'email' }
        = f.input :name, required: true
        = f.input :password, required: true, input_html: { autocomplete: 'new-password' },
                  hint: ("#{@minimum_password_length}文字以上で入力してください" if @minimum_password_length)
        = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
      .form-actions
        = f.button :submit, '登録', class: 'btn btn-primary btn-block'
  = render 'user/shared/links'
