%header.bg-primary
  .container
    %nav.navbar.navbar-dark.navbar-expand-lg
      = link_to 'Online Language Lesson', root_path, class: 'navbar-brand'
      %button.navbar-toggler{ type: 'button',
                              data: { toggle: 'collapse', target: '#navbar' },
                              aria: { controls: 'navbar', expanded: 'false', label: 'Toggle navigation' }}
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item= active_link_to '予約一覧', reserved_lessons_path, class: 'nav-link'
            %li.nav-item= active_link_to 'チケット購入', products_path, class: 'nav-link'
            %li.nav-item= active_link_to 'ログアウト', destroy_user_session_path, class: 'nav-link', method: :delete
          - else
            %li.nav-item= active_link_to '会員登録', new_user_registration_path, class: 'nav-link'
            %li.nav-item= active_link_to 'ログイン', new_user_session_path, class: 'nav-link'
